<div class="chat__aside-header">
  <button class="chat__aside-header__button">
    <a href="/profile" class="chat__aside-header__link">{{profile}}</a>
  </button>

  <label class="chat__aside-header__label">
    <input class="input" type="text" name="search" placeholder="Поиск"/>
  </label>
</div>
{{{Chat}}}





