<form class="form-auth">
  <h2 class="form-auth__title">{{entry}}</h2>

  <div class="form-auth__container form-auth__container_margin">
      {{{inputs}}}
  </div>

  <div class="form-auth__container">
    {{{button}}}
  </div>
</form>

