<div class="profile__container">
  <div class="label-container label-container_margin">
    <a href="/profileData">{{changeData}}</a>
  </div>

  <div class="label-container label-container_margin">
    <a href="/profilePassword">{{changePassword}}</a>
  </div>

  <div class="label-container">
    <a href="/reg">{{exite}}</a>
  </div>
</div>