<div class="label-container label-container_margin">
  <button data-page="changeData">{{changeData}}</button>
</div>

<div class="label-container label-container_margin">
  <button data-page="changePassword">{{changePassword}}</button>
</div>

<div class="label-container">
  <button data-page="exite">{{exite}}</button>
</div>
