$button_text_color: #FFF;
$button_bg_color: #3369F3;

$input_border_color: #3369F3;
$input_label_text_color: #999;

$profile_aside_bg_color: #FBFBFB;

$avatar_text_hover_color: #FFFFFF;
$avatar_bg_hover_color: rgba(0, 0, 0, 0.5);

$profile_text_color: #1E1E1E;
$profile_userchange_link_color: #FF0000;

$modalwindow_bg_color: #FFFFFF;
$modaloverlay_bg_color: rgba(0, 0, 0, .4);
$modalhelper_text_color: #FF2F2F;

$box_shadow_color: rgba(0, 0, 0, 0.14);
