$button_text_color: #fff;
$button_bg_color: #3369f3;
$input_border_color: #3369f3;
$input_label_text_color: #999;
$profile_aside_bg_color: #fbfbfb;
$avatar_text_hover_color: #fff;
$avatar_bg_hover_color: rgba(0, 0, 0, 50%);
$profile_text_color: #1e1e1e;
$profile_userchange_link_color: #ff0;
$modalwindow_bg_color: #fff;
$modaloverlay_bg_color: rgba(0, 0, 0, 40%);
$modalhelper_text_color: #ff2f2f;
$box_shadow_color: rgba(0, 0, 0, 14%);
