.form-reg {
  width: 340px;
  height: 615px;
  margin: auto;

  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.form-reg__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  text-align: center;
  color: #1E1E1E;
  padding: 50px 0 40px 0;
}

.form-reg__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-reg__container_margin {
  margin-bottom: 3em;
}

.input-container {
  width: 80%;
  margin: 0 auto;
}

.input_size {
  width: 100%;
}

.input-container_margin {
  margin-bottom: 1em;
}

.form-reg__buttont {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  margin: 0 2em 1em 2em;
}

.form-reg__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  text-align: center;
}
