<div class="modal-window">
  <h2 class="modal-window__title">{{title}}</h2>
    {{{input}}}
  <div class="modal-button">
    {{{button}}}
  </div>
  <p class="modal-helper">Нужно выбрать файл</p>
</div>

