.chat-lists {
  width: 90%;
}

.chat-list {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid $chat_aside_input_bg_color;
}

.chat-list__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.chat-list__wrapper-img {
  width: 50px;
  height: 50px;
  border: 1px solid $chat_aside_input_bg_color;
  border-radius: 50%;
  background-color: $chat_aside_input_bg_color;
}

.chat-list__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 0.5em;
  color: $profile_text_color;
}

.chat-list__text {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  margin: 0;
  padding-bottom: 1.5em;
  color: $input_label_text_color;
}

.chat-list__text span {
  color: $profile_text_color;
  padding-right: 0.2em;
}

.chat-list__wrapper-addinfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat-list__date {
  text-align: center;
  color: $input_label_text_color;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
}

.chat-list__quantity-message {
  align-self: center;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  border-radius: 50%;
  background-color: $input_border_color;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1.8em;
  overflow: hidden;
}

.chat__section {
  margin-left: 20rem;
  text-align: center;
  box-sizing: border-box;
}
