<div class="chat-list">
  <div class="chat-list__wrapper">
    <div class="chat-list__wrapper-img">
      <img class="chat-list__img"/>
    </div>
    
    <div class="chat-list__wrapper-text">
      <h3 class="chat-list__title">{{title}}</h3>
      <p class="chat-list__text"><span>{{created_by}}</span>{{last_message}}</p>
    </div>
  </div>

  <div class="chat-list__wrapper-addinfo">
    <p class="chat-list__date"></p>
    <p class="chat-list__quantity-message">{{unread_count}}</p>
  </div>
</div>
