.main {
  height: 100vh;
}

.chat__aside {
  width: 20rem;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-color: #fbfbfb;
  box-sizing: border-box;
}

.chat__aside-header {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border-bottom: 1px solid #eaeaea;
}

.chat__aside-header__button {
  border: none;
  background-color: #fbfbfb;
  align-self: flex-end;
}

.chat__aside-header__link {
  position: relative;
  text-decoration: none;
  color: #999999;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
}

.chat__aside-header__link::after {
  content: "";
  position: absolute;
  width: 10%;
  background: #999999;
  height: 1px;
  right: -18%;
  top: 43%;
  transform: rotate(45deg)
}

.chat__aside-header__link::before {
  content: "";
  position: absolute;
  width: 10%;
  background: #999999;
  height: 1px;
  right: -18%;
  top: 68%;
  transform: rotate(135deg)
}

.chat__aside-header__label {
  width: 100%;
  position: relative;
}

.chat__aside-header__label::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid #999999;
  border-radius: 50%;
  left: 39%;
  top: 30%;
}

.chat__aside-header__label::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 1px;
  left: 41.5%;
  top: 60%;
  background: #999999;
  transform: rotate(45deg)
}

.chat__aside-header__label input {
  width: 100%;
  height: 2em;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #efefef;
}

.chat__aside-header__label input::placeholder {
  text-align: center;
  color: #999999;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
}

.chat-lists {
  width: 90%;
}

.chat-list {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid #eaeaea;
}

.chat-list__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.chat-list__wrapper-img {
  width: 50px;
  height: 50px;
  border: 1px solid #efefef;
  border-radius: 50%;
  background-color: #efefef;
}

.chat-list__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 0.5em;
  color: #1e1e1e;
}

.chat-list__text {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  margin: 0;
  padding-bottom: 1.5em;
  color: #999999;
}

.chat-list__text span {
  color: #1e1e1e;
  padding-right: 0.2em;
}

.chat-list__date {
  text-align: center;
}

.chat-list__wrapper-addinfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat-list__date {
  color: #999999;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
}

.chat-list__quantity-message {
  align-self: center;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  border-radius: 50%;
  background-color: #3369f3;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1.8em;
  overflow: hidden;
}

.chat__section {
  height: 100%;
  margin-left: 20rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: solid 0.1rem #eaeaea;
  margin-bottom: 2rem;
}

.chat-header__wrapper {
  display: flex;
}

.chat-header__name {
  padding-left: 0.8em;
}

.chat-header__dropdown {
  position: relative;
  margin-right: 1rem;
}

.chat-header__dropdaown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 90px;
  position: absolute;
  width: 210px;
  top: calc(100% + 2rem);
  right: 0;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.chat-header__dropdown > .link:focus + .chat-header__dropdaown-menu {
  opacity: 1;
  transform: translateY(0);
}

.chat-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-body__wrapper-text {
  display: flex;
  flex-direction: column;
}

.chat-body__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #999999;
}

.chat-body__message {
  width: 40%;
  background: #f8f8f8;
}

.chat-body__message span {
  display: inline-block;
  width: 10%;
  text-align: right;
  color: red;
}

.rigth {
  align-self: flex-end;
  background: #e4edfd;
}

.chat-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-footer__dropdown {
  position: relative;
}

.chat-footer__dropdaown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 128px;
  position: absolute;
  width: 168px;
  bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.chat-footer__dropdown > .link:focus + .chat-footer__dropdaown-menu {
  opacity: 1;
  transform: translateY(0);
}

.chat-footer__wrapper-input {
  width: 100%;
}

.chat-footer__input {
  width: 95%;
  height: 2rem;
  border: none;
  background: #efefef;
  border-radius: 30px;
  padding: 0 1rem;
}

.chat-footer__input::placeholder {
  padding-left: 1rem;
}

