.profile__title {
  padding-top: 1.5em;
  color: $profile_text_color;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.profile__container {
  width: 40%;
  margin: 3em auto;
}

.profile__container_margin {
  margin-bottom: 5em;
}
