.test-link {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $input_border_color;
  width: 150px;
  height: 150px;
}

.test-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
