.test-link {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00bfff ;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}