<section class="section {{style}}">
  {{{page}}}
  <div class="test-link">
    <nav class="test-nav">
      <a href="/reg">Registration</a>
      <a href="/error500">Error500</a>
      <a href="/error404">Error404</a>
      <a href="/profile">Profile</a>
      <a href="/profileData">ProfileData</a>
      <a href="/profilePassword">ProfilePassword</a>
      <a href="/chat">Chat</a>
    </nav>
  </div>
</section>
